name: Deploy Next.js site to Pages

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: page/sad-labs-next

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Setup Pages
        uses: actions/configure-pages@v5
        with:
          static_site_generator: next

      - name: Restore cache
        uses: actions/cache@v4
        with:
          path: |
            page/sad-labs-next/.next/cache
          key: ${{ runner.os }}-nextjs-${{ hashFiles('page/sad-labs-next/package-lock.json', 'page/sad-labs-next/yarn.lock', 'page/sad-labs-next/pnpm-lock.yaml') }}-${{ hashFiles('page/sad-labs-next/**/*.[jt]s', 'page/sad-labs-next/**/*.[jt]sx', 'page/sad-labs-next/**/*.[jt]sx') }}
          restore-keys: |
            ${{ runner.os }}-nextjs-${{ hashFiles('page/sad-labs-next/package-lock.json', 'page/sad-labs-next/yarn.lock', 'page/sad-labs-next/pnpm-lock.yaml') }}-

      - name: Install dependencies
        run: npm ci

      - name: Build with Next.js
        run: npm run build

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: page/sad-labs-next/out

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
